<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
       <img src="../../../assets/fotoPerfil.jpg" class="img-fluid" id="fotoDePerfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Mansilla Damian</p>
        <p>Full Stack Developer jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" >
        <span>
            <h1>Acerca de mi</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde perspiciatis praesentium nostrum quasi? Cum magnam repudiandae voluptate animi voluptates sequi qui ipsa molestias autem, error maxime esse at perspiciatis itaque!</p>
        </span>
    </div>
</div>
